body {
  background-color: #522a24;
  align-items: flex-start;
  justify-content: center;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3,p {
  font-family: 'fantasy';
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  color: #a24f25;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 300%;

}

h2 {
  color: #a24f25;
  font-size: 175%;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9a25c;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  justify-content: center;
  border-radius: 10px;
}

.minor-section h2 {
  color: #a1342b
}

/* the period in a CSS selector selects an element by class, e.g., class="img-header" */
.page-header {
  padding: 10px;
  background-color: #f9a25c;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  justify-content: center;
}

.img-header {
  padding: 10px;
  margin-bottom: 25px;
  background-color: #f9a25c;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 10px;
}

.img-header p {
  color: #a1342b;
}

#page-img {
  float: left;
  padding-right: 10px;
}

div .main {
  margin: 10px;
}

.special-section {
  font-family: "calibri";
  background-color: rgb(237, 137, 153);
  font-weight: bold;
  border: dotted 5px rgb(81, 45, 165);
}

.red {
color: red
}

.center {
  text-align: center;
}

p {
  text-indent: 20px;
  margin-left: 10px;
  color: #a24f25;
}

/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 10px;
}

.album-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.album-scroll img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.genres {
  text-align: center;
  margin: 20px 0;
}

.genres button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #e46994;
  color: #522a24;
  border-radius: 5px;
  cursor: pointer;
}

.genres button:hover {
  background-color: #37dede;
}

.songs {
  padding: 20px;
  background-color: #5dbabb;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px #a1342b;
}

.songs h2 {
  text-align: center;
  color: #511da4;
}

.songs ul {
  list-style-type: none;
  padding: 0;
}

.songs li {
  margin: 15px 0;
  padding: 10px;
  background-color: #e46994;
  border-radius: 5px;
}

.songs p {
  margin: 0 0 10px;
  font-size: 18px;
  color: #511da4;
}

/*Survey Formatting_____________________________________________________________*/
/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #21bfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
 
.survey-container {
  background-color: rgb(237, 141, 141);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #a1342b;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.survey-container h2 {
  color:#a1342b;
}

h1 #survey-form {
  text-align: center;
  color: #47155c;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #792ac9;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ff0000;
  border-radius: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: rgb(31, 195, 170);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#form-button:hover {
  background-color: #0056b3;
}

/* Chatbot conversation___________________________________________________*/
.bot-text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #e46994;
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}

.human-text p {
  display: inline-block;
  max-width: 60%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(237, 141, 141);
  color: white;
  font-family: sans-serif;
  font-size: 0.8em;
}

.chat-section {
  background-color: #5dbabb;
  border-radius: 10px;
  margin: 0 auto;
}
